!!! HTML
%html
  %head
    %title
      Github Activity Stream
    #{stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true}
    #{javascript_include_tag "application", "data-turbolinks-track" => true}
    #{csrf_meta_tags}
  %body
    .wrapper
      #{yield}
    .loading

  .push-small
  .footer
    = link_to "GitHub Activity Stream", "http://github.com/caseyscarborough/github-activity" 